<!DOCTYPE html>
<html lang="ko">

<%- include("basic/header"); -%>  <!-- 불러오기 -->

<body> 
  <%- include("basic/menu"); -%>
  
  <!-- Jumbotron -->
  <div class="jumbotron p-0">

    <!-- Card image -->
    <div class="view overlay rounded-top">
      <img src="/static/bugatti_chiron.jpg" class="img-fluid" alt="ferrari fxxk">
      <a href="#">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body text-center mb-3">

      <!-- Title -->
      <h3 class="card-title h3 my-4"><strong>Tools</strong></h3>
      <!-- Text -->
      <p class="card-text py-2">조흔 카드다</p>
      <!-- Button -->
      <a href="#" class="btn purple-gradient btn-rounded mb-4">눌러바</a>

    </div>

  </div>
  <!-- Jumbotron -->

  <%- include("basic/footer.ejs"); -%>
</body>
</html>
